* {
    margin: 0px;
    padding: 0;
}

body {
    background-color: #0b7af3;

}

#Main {
    display: flex;
    justify-content: center;
    gap: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    background-image: url(https://img.freepik.com/free-vector/gradient-black-backgrounds-with-golden-frames_23-2149154114.jpg?semt=ais_hybrid&w=740&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.One {
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 20px;
    width: 24%;
    height: 315px;
}

div>img {
    object-fit: contain;
    width: 100%;
}

#Nav {
    display: flex;
    justify-content: space-around;
    background-color: #0b7af3;
    color: #000;
    font-size: x-large;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 8px;
    position: sticky;
    top: 0;
    flex-wrap: wrap;

}

#Nav>div {
    padding: 7px;
    transition: transform 0.3s ease;
}

#Nav>div:hover {
    transform: scale(1.1);
}

#Img1 {
    height: 300px;
    object-fit: fill;
}

.hh3 {
    padding: 5px;
}

#PP1 {
    padding: 5px;

}

#Sn2 {
    background-color: #0b7af3;
    color: white;
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    justify-content: space-evenly;

}

.M1 {
    color: red;
    font-weight: bolder;
    margin-top: 10px;
}

.MH1 {
    color: #000;
}

#Sn2 h2 {
    padding-bottom: 20px;
    text-transform: uppercase;
}

.Child1,
.Child2,
.Child3 {
    width: 24%;
}

.Child1>p {
    line-height: 20px;
}

.Child1>h3 {
    line-height: 30px;
}

.Child3>p {
    font-weight: bold;
}

.Link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 25px;
}

iframe {
    width: 100%;
    object-fit: contain;
    height: 200px;
}

.Link img {
    width: 30px;
}

.desc {
    line-height: 25px;
}

.copyright {
    background-color: #2d296f;
    color: #e7f1f9;
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 30px;
}

.First1 {
    text-transform: uppercase;
}

@media screen and (max-width: 480px) {

    .One {
        border: 3px solid white;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        text-align: center;
        padding: 20px;
        width: 90%;
        height: 300px;

    }

    #Nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #000;
        background-color: #0b7af3;
        font-size: x-large;
        font-weight: bold;
        padding-top: 6px;
        padding-bottom: 8px;
        gap: 20px;
        position: static;
    }

    #Sn2 {
        background-color: #0b7af3;
        color: white;
        margin: 20px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        padding: 20px 0px 20px 0px;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }

    .Child1,
    .Child2,
    .Child3 {
        width: 90%;
    }


}

@media screen and (max-width: 750px) and (min-width:481px) {
    .one {
        border: 3px solid white;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        text-align: center;
        padding: 20px;
        width: 50%;
        height: 300px;
    }

    #Sn2 {
        background-color: #0b7af3;
        color: white;
        margin: 20px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        padding: 20px 0px 20px 0px;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }

    .Child1,
    .Child2,
    .Child3 {
        width: 90%;
    }

}